/*------------------------------------*\
    RESET
\*------------------------------------*/

.login{
	float:right;
	margin-top: 20px;
}
.login input{
	background-color: #428BD0;
	border:none;
	border-radius:0;
	color:#a6c9e7;
	height: 25px;
}
input[placeholder], [placeholder], *[placeholder] {
	color:#a6c9e7!important;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a6c9e7!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #a6c9e7!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #a6c9e7!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #a6c9e7!important;
}
@media (min-width: 768px){
.container {
max-width: 750px;
}
}

@media (min-width: 992px){
.container {
max-width: 970px;
}
}

@media (min-width: 1200px){
.container {
max-width: 970px;
}
}

.col-sm-offset-3 {
margin-left: 25%;}

.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
position: relative;
}
.form-btn{
    height: 25px;
	
    line-height: 12px;
    border: 0;
    border-bottom: 4px solid #004b73;
}
.btn{
	border-radius:0;
}
.btn-success{
	color:#fff!important;
}
.btn-primary{border: 0;
border-bottom: 4px solid #004b73;
}
.flex-caption{
	position:absolute
;
	bottom: -10px;
	background-color: rgba(0,0,0,0.3);
	padding: 20px;
	text-align: left;
	color: #fff;
}
.flexslider{
	position:relative
}
.col-sm-offset-1 {
margin-left: 8.333333333333332%;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
  padding: 14px 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
color: #fff;
cursor: default;
background-color: #51a27a;
border: 1px solid #51a27a;
border-bottom-color: transparent;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}




.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin: 0 -1px 0 0;
  border-right: 1px solid #ccc;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left{
	padding-right:0
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  /* border-color: #ddd transparent #ddd #ddd; */
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}


.tab-inner{
    padding: 10px; margin-right: 50px; background-color: #fff; border: 1px solid #ccc;
	
    width: 100%;
}

.popover{
	word-break: break-word;
}
.popover .close{
	position:absolute;
	top:0;
	right:5px
}
.popover-content{
	font:initial;
	font-size:14px
}
.tabbable{
	margin-bottom:20px
}
.tab-content{
	border:1px solid #ccc;
}
.img-responsive{
	margin-bottom:20px;
	width: 100%;
}

ul.seta{
	list-style:none
;
	padding: 0;
	float: left;
	width: 100%;
	margin: 0 0 20px;
}
ul.seta li{
	background:url(../_img/arrow-right.svg)no-repeat
;
	padding: 0px 0 2px 25px;
	margin-bottom: 7px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #003259;
}


.panel-footer {
padding: 10px 0;
background-color: transparent;
border-top: 1px solid #51a27a;
border-bottom-right-radius: 0;
border-bottom-left-radius: 0;
margin: 0 20px;
}

.panel-primary .panel-footer {
border-top: 1px solid #406fb5;
}

.tooltip-inner{
	font-weight:normal;
}

.form-control {
border-radius: 0px;
background-color: #e6e6e6;
border: none;
-webkit-box-shadow: none; 
box-shadow: none;
}
.form-control:focus {
border:1px solid #00699a;
-webkit-box-shadow: none;
box-shadow: none;
}

.bootstrap-select .btn:focus {
outline: none;
outline-offset: -2px;
}

.bootstrap-select .btn {
border-radius: 0px;
background-color: #e6e6e6;
border: none;
-webkit-box-shadow: none; 
box-shadow: none;
}
.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
/* border-top: 1px solid #51be7a; */
}
abbr[title], abbr[data-original-title] {
cursor: pointer;
color: #468847;
}
.navbar-collapse {
    /* height: initial!important; */
    /* max-height: 1000px!important; */
}
label{
	font-weight:normal;
}
.fa-11x {
font-size: 9em;

margin-right: 15px!important;
}
.verde{color:#51a27a}
/*------------------------------------*\
    TIPOGRAFIA
\*------------------------------------*/

.destaque{
	
    margin: 20px 0 40px;
    text-align: center;
    float: left;
    font-family: Open Sans Condensed;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
}
.titulo-img{
    position:relative;
    margin-bottom: 30px;
    float: left;
}
.titulo-img h1{
	background-color: #fffff0;
	bottom:0;
	position:absolute;
	right: -1px;
	
	float: right;
	text-align: right;
	margin-bottom: 0;
	padding: 10px;
}

a{
	color: #51a27a;}
a:hover{
	color: #51a27a;}
p{margin-bottom:20px;/* text-align: justify; */}
h1{
	margin:40px 0
}
h2{font-size:24px; margin: 40px 0 20px;}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:bold;
}
body{
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/
header{
	background-color:#003259;
	height: 110px;
	border-bottom:12px solid #004b73;
	position:relative;
	z-index: 1;
}
header:after{
	background-color:#00699a;
	height:6px;
	content:"";
	position:absolute;
	width:100%;
	left:0;
	bottom: -18px;
}

.logo{
	line-height: 95px;
	float:left;
}

.perfil{
	float:left
;
	margin: 10px 0 0 30px;
}
.perfil img{
	width:80px
}
.perfil .image-wrap {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	border: 3px solid #0073b9;
}
#nome{
    color: #fff;
    font-size: 20px;
}
#curso{
    color: #fff;

    font-size: 13px;
}
.dados{
	float:left;
	line-height: 17px;
	margin: 47px 0 0 10px;
}
.top-menu{
    float: right;
    background: #0073b9;
    padding: 5px 0;
    border-bottom: 2px solid #004b73;
    margin: 0;
}
.top-menu li{
    border-right: 1px solid #a6c9e7;
    padding: 0 10px;
}
.top-menu li:last-child{
    border-right: none;
}
.top-menu a{
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}
.navbar-default{
    background-color: transparent;
    border: none;
	border-radius:0
;
    min-height: 5px;
    margin-bottom: 20px;
}
.navbar-default .navbar-nav li{
	border-right:1px solid #51be7a;
	margin: 4px 0 3px;
}
.navbar-default .navbar-nav{
	background-color: #51a27a;
border: none;

	border-bottom: #51be7a solid 2px!important;
	width: 100%;
	margin: -12px 0 -15px;
}
.navbar-default .collapse{
	padding:0
}



.navbar-default .navbar-nav li:last-child{
	border-right:none
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: #fff;
background-color: transparent;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #fff;
}
.navbar-default .navbar-nav>li>a {
color: #9be4a6;
padding: 2px 0 0;
margin: 0px 13px 0;
    text-transform: uppercase;

font-size: 12px;
}
.breadcrumb{
	float:left;
	background-color: transparent;
	color: #969696;
	padding: 0 15px;
	font-size: 10px;
	margin: 0 0 30px;
	font-style: italic;
}
.breadcrumb li{
	float:left;
}
.breadcrumb li a{
    color: #777777;
}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer{
	background-color:#003259;
	padding:20px 0
}
.logo-sebrae{
	float:left;
}
.footer-link{
	color:#97c2e0;
	float:right;
}
.footer-link a{
	color:#97c2e0;
}
.rodape{
	width:100%;
}
/*------------------------------------*\
    CONTEUDO
\*------------------------------------*/
.sinal-collapse{margin:4px -25px 0 0}
.passos{
	background-color: #fff;
border: 1px solid #ccc;
padding: 10px;
float: left;
width: 100%;
margin-bottom: 40px;
}
.nav-ajuda{
    background: #406fb5;
	   padding: 20px; text-transform: uppercase; overflow: auto; font-size: 11px;
    position: absolute;
    height: 100%;
}
.nav-ajuda ul{
    list-style: none;
	
    padding: 0;
}
.nav-ajuda li{
    padding-bottom: 5px; margin-bottom: 5px;
	
    border-bottom: #003259 solid 1px;
}
.nav-ajuda li a{
    color: #003259;
	
}
.nav-ajuda li a:hover, .nav-ajuda li.active a{
	
    color: #fff;
}
.legenda{
	color:#999;
	font-size:12px
}
.forum .fa-folder,.forum .fa-folder-open{
	font-size:45px;
	color:#51a27a;
}
.forum h3{
	margin: 0 0 10px 0;
	color:#51a27a;
	position: relative;
	padding-right: 80px;
}
.forum .tools-forum{
	position: relative;
	width: 110px;
}
.forum .tools-chat{
	position: relative;
	width: 62px;
}
.forum .tools{
    position: absolute;
    top: 50%;
    margin-top: -22px;
}
.forum .tools a{
    float: left;
    margin: 0 3px;
}
.heading-success{
background-color: #51a27a;
color: #fff;
padding: 5px 40px 5px;
font-size: 18px; 
margin-bottom: 20px;
position: relative;
border: 1px solid #51a27a;
}
.heading-success:before {
width: 0px;
height: 0px;
border-style: solid;
border-width: 35px 35px 0 0;
border-color: #51be7a transparent transparent transparent;
_border-color: #51be7a #000000 #000000 #000000;
line-height: 0px;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
content: "";
top: 0;
left: 0;
position: absolute;
}
.heading-primary{
color: #fff;
padding: 5px 40px 5px;
font-size: 18px; 
margin-bottom: 20px;
position: relative;
border: 1px solid #406fb5;
background-color: #406fb5;
}
.heading-primary:before {
width: 0px;
height: 0px;
border-style: solid;
border-width: 35px 35px 0 0;
border-color: #003259 transparent transparent transparent;
_border-color: #003259 #000000 #000000 #000000;
line-height: 0px;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
content: "";
top: 0;
left: 0;
position: absolute;
}
.heading-login{
color: #fff;
padding: 3px 40px 3px 33px;
font-size: 14px; 
margin-bottom: 5px;
position: relative;
border: 1px solid #004168;
background-color: #004168;
}
.heading-login:before {
width: 0px;
height: 0px;
border-style: solid;
border-width: 26px 26px 0 0;
border-color: #00699a transparent transparent transparent;
_border-color: #00699a #000000 #000000 #000000;
line-height: 0px;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
content: "";
top: 0;
left: 0;
position: absolute;
}
.panel-primary a{
	color:#406fb5
}
.panel-primary .forum .fa-folder,.panel-primary .forum .fa-folder-open{
	color:#406fb5;
}

.panel-primary .table thead>tr>th, .panel-primary .table tbody>tr>th, .panel-primary .table tfoot>tr>th, .panel-primary .table thead>tr>td, .panel-primary .table tbody>tr>td, .panel-primary .table tfoot>tr>td {
border-top: 1px solid #406fb5;
}

.heading-link{
	color:#fff;
	margin-right: -30px;
	font-size: 14px;
	margin-top: 3px;
}
.heading-link:hover{
	color:#fff;
}
.lista{
    list-style: none;
	
    padding: 0;
}
.lista li{
    border-bottom: 1px solid #51be7a;
	
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.img-full{
    position: fixed;
	
    top: 90px;
    width: 100%;
    z-index: 0;
}
.conteudo_home{
	background-color:#004b73;
	color:#fff;
	position:relative;
}
.triangulo-d{
border-style: solid;
border-width: 0 0 210px 130px;
border-color: transparent transparent #0173b8 transparent;
_border-color: #000000 #000000 #0173b8 #000000;
line-height: 0px;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#0173b8');
content: "";
bottom: -60px;
right: 0;
position: absolute;
z-index:1;
	
}
.triangulo-e{
border-style: solid;
border-width: 210px 130px 0 0;
border-color: #0173b8 transparent transparent transparent;
_border-color: #0173b8 #000000 #000000 #000000;
line-height: 0px;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#0173b8');
content: "";
top: -60px;
left: 0;
position: absolute;
z-index:1;
}

.area-drop{ border:4px dashed #ccc; margin-bottom:20px;}
.ui-sortable{min-height:40px}
.panel-move{margin:3px -30px 0 0}
.panel {

background-color: #fffff0;


border-radius: 0px!important;
}
.panel-heading {
border-top-right-radius: 0px;
border-top-left-radius: 0px;
padding: 5px 40px 5px;
font-size: 14px;
position:relative
}
.panel-heading:before{
	width: 0px;
height: 0px;
border-style: solid;

	border-width: 29px 29px 0 0;
border-color: #ccc transparent transparent transparent;
line-height: 0px;
_border-color: #ccc #000000 #000000 #000000;
_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
content:"";
top:0;
left:0;
position:absolute
}
.panel-primary {
border-color: #406fb5;
}
.panel-primary .panel-heading{
background-color: #406fb5;
}
.panel-primary .panel-heading:before{
border-color: #003259 transparent transparent transparent;
_border-color: #003259 #000000 #000000 #000000;
}
.panel-success {
border-color: #51a27a;
}
.panel-success .panel-body h3{
color: #51a27a;
margin-top: 0;
}
.panel-success .panel-heading{
background-color:#51a27a;
color:#fff
}

.panel-success .panel-heading:before{
border-color: #51be7a transparent transparent transparent;
_border-color: #51be7a #000000 #000000 #000000;
}

.panel-warning {
border-color: #fbeed5;
}
.panel-warning .panel-heading{
background-color: #c09853;
color:#fff;
}
.panel-warning .panel-heading:before{
border-color: #fbeed5 transparent transparent transparent;
_border-color: #fbeed5 #000000 #000000 #000000;
}
.panel-danger {
border-color: #b94a48;
}
.panel-danger .panel-heading{
background-color: #b94a48;
color:#fff;
}
.panel-danger .panel-heading:before{
border-color: #f2dede transparent transparent transparent;
_border-color: #f2dede #000000 #000000 #000000;
}
 

.accordion{
    margin-bottom: 20px;
}
.accordion a {
	text-decoration:none;
	color: #fff;
}
.accordion .panel-heading{
	padding-left:20px
}
.accordion .panel-body a{
	color:#51a27a
}
.accordion .panel-heading:before{
	display:none
}

.indice{
	
}
.indice a{
	color:#fff
}
.drop-left{position: absolute;left: -20px;}
.drop-right{position: absolute;right: 15px;}
.drop-down .panel-collapse{
	margin-bottom:20px;
	float: left;
	width: 100%;
}
.drop-down{
    height: 60px;
}
.drop-inner{
	padding: 20px 20px 0;
	margin-right: 50px; background-color: #fff; border: 1px solid #ccc;
}
.navega{width:100%;float:left;border-top:1px solid #969696;border-bottom: 1px solid #969696;color: #969696;margin-bottom: 20px;text-transform: uppercase;position: relative;height: 42px;display: table;}
.navega-titulo{
	padding-right: 103px;
  
   
	display: table-cell;   vertical-align: middle;
	width: 100%;
}
.navega-tools{
    position: absolute;
    right: 0;
    top: 5px;
}
.navega a{margin-left:5px;cursor: pointer;}
#conteudo{margin-bottom:60px;/* word-break: break-word; */}
.nav-conteudo{
    margin-left: 0!important;
	
    margin-right: 10px;
    margin-top: 5px;
}


#nav-conteudo{
    background-color: #51a27a;
    position: absolute;
    height: 100%;
    padding: 20px;
    text-transform: uppercase;
    overflow: auto;
    font-size: 11px;
}
#nav-conteudo ul{
    list-style: none;
    padding: 0;
}
#nav-conteudo>ul{
    margin: 0;
}
#nav-conteudo>ul>li>ul{
    margin: 0px 0 0 5px;
}
#nav-conteudo>ul>li>ul>li>ul{
    margin: 0px 0 0 4px;
}
#nav-conteudo li.active>a{
    border-bottom: #fff solid 1px;
}
#nav-conteudo li{
    
    padding-top: 6px;
    margin-bottom: 1px;
}
#nav-conteudo li li{
	border-left: 1px dotted #2A6648;
	padding-left: 10px;
}
#nav-conteudo a{
    color: #6CDD96;
}
#nav-conteudo .abrir-tudo, #nav-conteudo .fechar-tudo{
    color: #2A6648;
}
.menu-fix{
	margin-left: 15px;
	margin-top: -15px;
	display: block;
}
.menu-fix2{
	margin-left: 15px;
	display: block;
}

#nav-conteudo, #nav-conteudo a:hover{
    color: #225334;
	text-decoration:none;
}
#nav-conteudo .active>a{
    color:#fff;
}
.menu-abre{
	font-size:12px;
	cursor:pointer
}
.links_list{
    position: relative;
	
}

#links{
	border: 1px solid #51a27a;
	height: 500px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: relative;
	font-family: sans-serif;
	font-size: 1em;
}
#links dt{
	margin: 0;
	background: #51a27a;
	font-weight: bold;
	text-shadow: -1px -1px 0px rgba( 0, 0, 0, 0.2 ), 1px 1px 0px rgba( 255, 255, 255, 0.3 );
	color: white;
	padding: 8px 5px;
	border-bottom: #51be7a solid 2px!important;
	width: 100%!important;
}
#links dd{
	padding: 10px 40px 10px 5px;
	margin: 0;
	border-bottom: 1px solid #F2F6FB;
}

#links dd:nth-child(odd) {
background-color: #f9f9f9;
}


#botoes button{
	border: 0;
	font-weight: bold;
	color: #fff;
	padding: 3px 8px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	background: #51a27a;
	width: 37px;
}
#botoes button:hover{
	color: white;
	background-color: #1D6FA2;
}
#botoes {
	margin: 0;
	position: absolute;
	width: 37px;
	z-index: 2;
	right: 0;
	top: 0;
	bottom: 0;
	background: #51a27a;
	padding-top: 30px;
}
#botoes button{
}
#botoes button.inactive{
	background-color: #999;
	border-color: #999;
}
#conteudo_wrap{
	overflow:hidden;
}
/*------------------------------------*\
    EFEITOS
\*------------------------------------*/
.come-in{
	opacity: 1!important;
}
.off-screen-top,.off-screen-bottom{
	opacity:0!important;
}
.icone,.icone0x, .icone2x, .icone3x,.icone4x,.icone5x {
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: #fff!important;
  display: inline-block;
}

.icone{
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size:15px;
}
.icone0x{
  width: 15px;
  height: 15px;
  line-height: 15px;
  font-size:10px;
  margin-bottom: -2px;
}
.icone2x{
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size:20px
;
  width: 40px;
}
.icone3x{
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size:25px
}
.icone4x{
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size:30px
}
.icone5x{
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size:35px
}

.slide, .slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9, .slide10, .slide11, .slide12, .slide13, .slide14, .slide15, .slide16, .slide17, .slide18, .slide19, .slide20 {
	opacity:0;
	-webkit-transform: translate(40px, 0);
}

@-webkit-keyframes pulse_animation {
0% {
-webkit-transform: scale(1);
}
 10% {
-webkit-transform: scale(1.02);
}
 20% {
-webkit-transform: scale(1);
}
 30% {
-webkit-transform: scale(1.02);
}
 40% {
-webkit-transform: scale(1);
}
}
 @-moz-keyframes pulse_animation {
0% {
-moz-transform: scale(1);
}
 10% {
-moz-transform: scale(1.02);
}
 20% {
-moz-transform: scale(1);
}
 30% {
-moz-transform: scale(1.02);
}
 40% {
-moz-transform: scale(1);
}
}
 @-o-keyframes pulse_animation {
0% {
-o-transform: scale(1);
}
 10% {
-o-transform: scale(1.02);
}
 20% {
-o-transform: scale(1);
}
 30% {
-o-transform: scale(1.02);
}
 40% {
-o-transform: scale(1);
}
}
 @-ms-keyframes pulse_animation {
0% {
-ms-transform: scale(1);
}
 10% {
-ms-transform: scale(1.02);
}
 20% {
-ms-transform: scale(1);
}
 30% {
-ms-transform: scale(1.02);
}
 40% {
-ms-transform: scale(1);
}
}
 @keyframes pulse_animation {
0% {
transform: scale(1);
}
 10% {
transform: scale(1.02);
}
 20% {
transform: scale(1);
}
 30% {
transform: scale(1.02);
}
 40% {
transform: scale(1);
}
}
/*
.destaque {
	-webkit-animation-name: pulse_animation;
	-moz-animation-name: pulse_animation;
	-o-animation-name: pulse_animation;
	-ms-animation-name: pulse_animation;
	animation-name: pulse_animation;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	-ms-animation-duration: 5s;
	-o-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-o-animation-timing-function: linear;
	-ms-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: linear;
	-moz-animation-delay: linear;
	-o-animation-delay: linear;
	-ms-animation-delay: linear;
	animation-delay: linear;
}
*/